<head>
    <title>photomapapp:{% block title %} {% endblock %}</title>
	<link href="static/css/main.css" rel="stylesheet" type="text/css" />

	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAAkUlmIW1X-La8Y_JDbMsIaBRiZb6psu_elRAuQ2DEEDiNpk1RHhTO-_oZXxikHGsSPBbO8HyOVz0DBw"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
	<script type="text/javascript" src="/static/swfobject.js"></script>
	<script type="text/javascript" src="/static/jquery.uploadify.v2.1.0.min.js"></script>

    
    {% block headincludes %}{% endblock %}
	
</head>
</body>
<div id="wrap">

<div id="header">
<img width=250 alt="photomapapp.com" src="/media/photomapapp.png">
</div>

<div id="left">

  
  <a href="/maps"><img src="/media/maps.png"></a><br>
  	<a href="/photos"><img src="/media/myphotos.png"></a>
    {% block left %}{% endblock %}
</div>

<div id="main">
    {% block main %}{% endblock %}
</div>

<div id="footer">
    {% block footer %}
	
    {% endblock %}
</div>
</div>

{% block footerincludes %}{% endblock %}
	
